.item {
  background-color: teal;
  &__link {
    text-decoration: none;
    color: white;
  }
  &__img {
    width: 100%;
  }
  &__text {
    height: 7rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    @media all and (min-width: 768px) {
      height: 5rem;
    }
  }
  &__name {
    margin: 0.5rem 0.5rem 0.3rem 0.7rem;
    @media all and (min-width: 768px) {
      font-size: 1.3rem;
    }
  }
  &__attribute {
    margin: 0.3rem 0.5rem 0.3rem 0.7rem;
  }
}
